main {
  display: flex;
}

.weather {
  display: inline-block;
  width: 100%;
}
form {
  margin-bottom: 20px;
}

.show {
  display: flex;
  flex-wrap: wrap;
}
#map {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-right: 30px;
}

#info {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
}

.history {
  display: inline-block;
  width: 100%;
}

.list_history {
  margin-top: 0px;
}

.title_history {
  margin-top: 0px;
  border-bottom: 2px solid gray;
}
